/**
  Variables
*/

//Colors
$color-black: #000000;
$color-white: #ffffff;

//Typography
$font-family: "Lato", sans-serif9;
$font-size-paragraph: 1.6rem;
$font-size-paragraph-h2: 3.6rem;
$font-size-paragraph-h3: 2rem;
